# core
sqlalchemy
pandas
numpy
xarray
tables
scipy
richenum
matplotlib
seaborn
fire
jinja2
sklearn
tqdm
statsmodels

# optional
# pymysql

# For sphinx documentation only
sphinxcontrib-fulltoc
numpydoc
sphinx-rtd-theme==0.2.4
IPython

# For pypi document
pypandoc